
body {
    font-family: Karla, sans-serif;
    color: #484848;
}
nav ul {
    list-style-type: none;
    padding-inline-start: 0;
    margin-block-start: 0;
    margin-block-end: 0;
}

header {
    background-color:#FF5A5F;
    height: 80px
}
#logo {
    height: 80px;
}

nav {
    display: inline-block;
    float: right;
}
nav li {
    display: inline-block;
    margin-left: 40px;
    line-height: 80px;
}
nav a{
    color:white;
    font-size:18px;
    cursor: pointer;

}

nav a:link{
    text-decoration: none;
}
nav a:hover {
    color: blue;
    text-decoration: underline;
}

nav a :visited{
    color:white;
}
.content {
    width: 900px;
    margin: auto;
}
section {
    padding: 50px;
    border: 2px solid #cccccc;  
    margin-bottom: 20px;
}
section img {
    width: 500px;
}

h1 {
    font-size: 30px;
    padding-top: 10px;
    padding-bottom: 20px;
}

h2 {
    font-size: 30px;
}

section p {
    font-size: 15px;
}